<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 移动端REM计算js -->
    <script src="/static/home/js/public/rem.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>移动端</title>
    <!-- 公共样式部分 -->
    <link rel="stylesheet" href="/static/home/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/home/css/public/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/public/public.css">
    <link rel="stylesheet" href="/static/home/css/public/common.css">
    <!-- 插件样式 -->
    <link rel="stylesheet" href="/static/home/css/lib/swiper.min.css">
    <!-- 当前页面样式 -->
    <link rel="stylesheet" href="/static/home/css/note/index.css">
</head>

<body class="bg-blue-light">
    <header class="nav-suck">
        <!-- 导航 -->
        <nav class="rela flex bg-white align-h-between nav-top p-lr-14 p-tb-10 bg-white border-bottom">
            <i class="iconfont icon-zuojiantou font-24 font-grey"></i>
            <div class="title abso text-hidden-1">如何看待当代人的野性养生</div>
            <div class="flex">
                <!-- 分享按钮 -->
                <i class="iconfont icon-fenxiang font-24 font-grey m-r-14"></i>
                <!-- 搜索按钮 -->
                <!-- <i class="iconfont icon-sousuo font-24 font-grey m-r-14"></i> -->
                <i class="iconfont icon-caidan font-24 font-grey" id="show-menu"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="card p-b-14 p-lr-14">
            <!-- 话题 -->
            <div class="swiper" id="home-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/home/img/noteDetail.png" alt="">
                    </div>
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <h1 class="font-20 font-bold font-center m-t-20">如何看待当代人的野性养生</h1>
            <div class="font-12 font-center m-t-8 font-grey-light">2018年11月13日 10:32 浏览 8000</div>
            <div class="m-t-20 font-14 detai-content line-h-24">
                <p>中国有一个政府部门叫物价局，还有一部法律叫价格法，这两个一般不用，但是不代表没用。这就是社会主义国家与区别，像我之前说的，有些功能可以不常用，但是不能没有，价格法就是这样。</p>
                <p style="margin-top: 20px;">
                    什么是当代人的野性养生？简单粗暴来理解就是：熬最长的夜，敷最贵的面膜。扛着野性养生的大旗,一边消遣一边补
                    熬夜护肝两不误。虽然这种养生方式不够科学有效，但也侧面凸显了当代年轻人对于养生问题的关注，说明越来越多的年
                    轻人已经有较深的保健养生意识。那么问题来了，养生意识有了，如何破解这种自我安慰式的“野性养生”呢？我们一起
                    来学习下吧~
                </p>
            </div>
            <div class="flex flex-wrap m-t-20 tag-list">
                <a href="" title="" class="tag flex align-v-center font-12 border-radius-4 bg-blue-light font-blue">
                    <i class="iconfont icon-huati"></i>
                    <span> 今年流行什么双眼皮</span>
                </a>
                <a href="" title=""
                    class="tag flex align-v-center font-12 border-radius-4 m-l-10 bg-blue-light font-blue">
                    <i class="iconfont icon-huati"></i>
                    <span> 今年流行什么双眼皮</span>
                </a>
            </div>
        </div>
        <!-- 用户信息 -->
        <div class="card p-14 m-t-14">
            <div class="flex user-info">
               <a href="" title=""><img src="/static/home/img/avatar-max.png" alt="理财写" class="avatar"></a> 
                <div class="flex-1 m-l-14">
                    <div class="flex align-v-center align-h-between">
                        <div> <a href="" title="理财写">理财写</a> </div>
                        <button class="button bg-pink-light font-pink mini border-radius-6" type="button">关注</button>
                    </div>
                    <ul class="flex font-12 m-t-10">
                        <li class="border-right p-r-20 m-r-14"> <span class="font-pink">666</span> <span class="font-grey-light">获赞</span> </li>
                        <li class="border-right p-r-20 m-r-14"> <span class="font-pink">666</span> <span class="font-grey-light">笔记</span> </li>
                        <li> <span class="font-pink">666</span> <span class="font-grey-light">粉丝</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 点评信息 -->
        <div class="card p-14 m-t-14">
            <div class="flex align-h-between">
                <div class="font-bold font-18">全部点评</div>
                <div class="font-14"> <span class="font-bold font-pink">30</span> 人参与，<span class="font-bold font-pink">10</span> 条点评</div>
            </div>
            <ul class="m-t-27 comment-list">
                <li class="flex p-b-20 border-bottom">
                    <img src="/static/home/img/avatar-max.png" alt="" class="avatar">
                    <div class="m-l-10 flex-1">
                        <div class="flex align-h-between align-v-center">
                            <div class="font-bold fotn-14">立春</div>
                           <div class="pointer font-12 font-blue">+关注</div> 
                        </div>
                        <div class="m-t-10 font-14 line-h-22">现抹肿簧童玩柑页挂关摘婶凹听航移出实扫站轲！抽晾渠儡甩，苷菲午嗯说修站郭馆蛛鱼卓角邀搅铵引刹益就睛雷谬组权送他蒂驶陕愿拨挥</div>
                        <div class="flex align-v-center m-t-14 align-h-between">
                            <i class="iconfont icon-jubao font-grey-light"></i>
                            <div class="flex align-v-center">
                                <div class="flex align-v-center font-14">
                                   <span class="font-blue">回复</span>  <i class="iconfont icon-youjiantou font-blue"></i>
                                </div>
                                <div class="flex align-v-center font-14 m-l-20">
                                    <span class="font-grey m-r-2">666 </span><i class="iconfont icon-muzhishang font-grey font-14"></i>
                                 </div>
                            </div>
                        </div>
                        <ul class="m-t-27 comment-list">
                            <li class="flex">
                                <img src="/static/home/img/avatar-max.png" alt="" class="avatar">
                                <div class="m-l-10 flex-1">
                                    <div class="flex align-h-between align-v-center">
                                        <div class="font-bold fotn-14">立春</div>
                                       <div class="pointer font-12 font-blue">+关注</div> 
                                    </div>
                                    <div class="p-10 bg-blue-light m-t-10 font-12 line-h-22 text-hidden-2">
                                        回复: <a href="" title="" class="font-blue">立春:</a> 现抹肿簧童玩柑页挂关摘婶凹听航移出实扫站轲！抽晾渠儡甩，
                                    </div>
                                    <div class="m-t-10 font-14 line-h-22">现抹肿簧童玩柑页挂关摘婶凹听航移出实扫站轲！抽晾渠儡甩，苷菲午嗯说修站郭馆蛛鱼卓角邀搅铵引刹益就睛雷谬组权送他蒂驶陕愿拨挥</div>
                                    <div class="flex align-v-center m-t-14 align-h-between">
                                        <i class="iconfont icon-jubao font-grey-light"></i>
                                        <div class="flex align-v-center">
                                            <div class="flex align-v-center font-14">
                                               <span class="font-blue">回复</span>  <i class="iconfont icon-youjiantou font-blue"></i>
                                            </div>
                                            <div class="flex align-v-center font-14 m-l-20">
                                                <span class="font-grey m-r-2">666 </span><i class="iconfont icon-muzhishang font-grey font-14"></i>
                                             </div>
                                        </div>
                                    </div>
                                    
                                </div>

                            </li>
                        </ul>
                        <div class="font-14 font-blue m-l-40 m-t-10">查更多回复</div>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <footer class="font-12 p-lr-14 p-t-30 p-b-71 font-grey-light">
        <p>郑重声明：懂美姐网版权所有，未经授权禁止转载、摘编、复制或建立镜像，如有违反，将追究其法律责任。</p>
        <p class="m-t-10">免责声明：本站为非营利性网站， 部分图片或文章来源于互联网，如果无意中对您的权益构成了侵犯，我们深表歉意，请来电告知，我们立即删除！</p>
        <div class=" font-center font-grey-light m-t-20">
            <p>客服咨询：400-888-7710</p>
            <p class="m-tb-10">Copyright © 2020 海南懂美姐科技有限公司</p>
            <a title="" href="" target="_blank" class="font-grey-light ">琼ICP备 2021000857号</a>
        </div>
    </footer>
    <!-- 底部导航 -->
    <div class="bg-white flex align-v-center operate-nav p-lr-14 p-tb-12">
        <div class="flex align-v-center bg-blue-light write border-radius-6 font-grey-light p-tb-6 p-lr-10">
            <i class="iconfont icon-bi font-24"></i>
            <span class="font-12 font-grey-light p-l-6 ">说说你有什么看法...</span>
        </div>
        <dl class="flex m-l-20">
            <dd class="flex m-r-14 align-v-center">
                <i class="iconfont icon-dianping font-22 font-grey m-r-2"></i>
                <span class="font-12">996</span>
            </dd>
            <dd class="flex m-r-14 align-v-center">
                <i class="iconfont icon-xingxing font-22 font-grey m-r-2"></i>
                <span class="font-12">996</span>
            </dd>
            <dd class="flex  align-v-center">
                <i class="iconfont icon-aixin font-22 font-grey m-r-2"></i>
                <span class="font-12">996</span>
            </dd>
        </dl>
    </div>
    <!-- 公共固定按钮 -->
    <div class="fixbar">
        <!-- 公共咨询按钮 -->
        <div class="consult-global flex align-v-center align-h-center rela">
            <i class="iconfont icon-dianping font-24 font-white"></i>
        </div>
        <!-- 公共返回顶部按钮 -->
        <div class="back-top flex align-v-center align-h-center m-t-20" style="display: none;">
            <i class="iconfont icon-shangjiantou font-24 font-pink"></i>
        </div>
    </div>
    <!-- 全局js -->
    <!-- 用于存放全局变量 -->
    <script>
        const RUL = 1;
        const USER_INFO = {};
    </script>
    <script src="/static/home/js/layui/layui.js"></script>
    <script src="/static/home/js/layui.config.js"></script>
    <!-- 当前页面全局变量 -->
    <script>
        const PAGE = 1;
        const TOTAL = 22;
    </script>
    <!-- 当前页面js -->
    <script src="/static/home/js/note/noteDetai.js"></script>
</body>

</html>