<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 移动端REM计算js -->
    <script src="/static/home/js/public/rem.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>移动端</title>
    <!-- 公共样式部分 -->
    <link rel="stylesheet" href="/static/home/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/home/css/public/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/public/public.css">
    <link rel="stylesheet" href="/static/home/css/public/common.css">
    <!-- 插件样式 -->
    <link rel="stylesheet" href="/static/home/css/lib/swiper.min.css">
    <!-- 当前页面样式 -->
    <link rel="stylesheet" href="/static/home/css/note/topic.css">
</head>

<body class="bg-blue-light">
    <header class="nav-suck">
        <!-- 导航 -->
        <nav class="rela flex bg-white align-h-between nav-top p-lr-14 p-tb-10 bg-white border-bottom">
            <i class="iconfont icon-zuojiantou font-24 font-grey"></i>
            <div class="title abso text-hidden-1">笔记话题</div>
            <div class="flex">
                <!-- 分享按钮 -->
                <!-- <i class="iconfont icon-fenxiang font-24 font-grey m-r-14"></i> -->
                <!-- 搜索按钮 -->
                <!-- <i class="iconfont icon-sousuo font-24 font-grey m-r-14"></i> -->
                <i class="iconfont icon-caidan font-24 font-grey" id="show-menu"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="card p-14 m-b-14 topic-head" style="background-image: url('../../static/home/img/topicbg.png') ;">
            <div class="flex align-h-between">
                <div class="flex align-v-center">
                    <i class="iconfont icon-huati font-24 font-grey-light"></i>
                    <h1 class="font-17 font-bold m-l-6">玻尿酸隆鼻好不好</h1>
                </div>
                <button type="button" class="button mini bg-pink-light font-pink border-radius-6 font-14" >关注</button>
            </div>
            <div class="rela font-14 m-t-12 line-h-20 ">
                网上关于印度人口超过中国可能是假消息：“历史性的一刻！印度人口超越中国成为全球第一！3月4日，
                印度人口达到14.1565亿人，正式超过中国2021年的人口14.126亿人。”没有可靠的官方数据来源，为
                自媒体传播。无论中文还是英文，没有严谨的媒体报道此事，印度统计局官网，也没有找到上述数据
            </div>
            <div class="font-12 m-t-10 font-grey-light">6598 人参与讨论  ·  3549k 次浏览</div>
            <div class="m-t-20 flex align-h-between">
                <div class="flex align-v-center">
                    <i class="iconfont icon-fenxiang font-grey-light"></i>
                    <span class="font-12 font-grey-light p-l-4">分享</span>
                </div>
                <button class="button medium bg-pink font-white border-radius-6 font-12">立即参与</button>
            </div>
        </div>
        <div class="card p-14">

            <div class="tab">
                <ul class="font-14   ">
                    <li class="active p-b-8 rela">
                        <a href="http://" title="" target="_blank">最新</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">热门</a>
                </ul>
            </div>

            <ul class="m-t-20 flex flex-wrap note-list">
                <li class="m-b-14">
                    <div class="note-item">
                        <a href="" title="">
                            <img src="/static/home/img/biji.png" alt="" class="note-img m-b-10">
                            <div class="title text-hidden-2 font-14">如果颈纹加深，可不是寻常护肤品能挽救了1</div>
                        </a>
                        <div class="flex align-v-center align-h-between m-t-14">
                            <div>
                                <!-- 显示用户头像 -->
                                <a href="" title="" class="flex align-v-center">
                                    <img src="/static/home/img/user.png" class="avatar user-avatar" alt="">
                                    <div class="font-12 m-l-6 font-grey-light">孟梓宜</div>
                                </a>
                                <!-- 显示取消收藏按钮 -->
                                <!-- <button class="button mini bg-grey-light font-grey-light">取消收藏</button> -->
                                <!-- 显示时间 -->
                                <!-- <span class="font-grey-light font-12">2022</span> -->
                            </div>
                            <div class="flex align-v-center">
                                <i class="iconfont icon-aixin font-14 font-grey-light"></i>
                                <span class="m-l-2 font-12 font-grey-light">66</span>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
            <div class="flex align-v-center align-h-center m-t-20">
                <button class="button mini bg-blue-light font-blue" type="button">点击加载更多</button>
            </div>


        </div>

    </main>

    <footer class="font-12 p-lr-14 p-t-30 p-b-71 font-grey-light">
        <p>郑重声明：懂美姐网版权所有，未经授权禁止转载、摘编、复制或建立镜像，如有违反，将追究其法律责任。</p>
        <p class="m-t-10">免责声明：本站为非营利性网站， 部分图片或文章来源于互联网，如果无意中对您的权益构成了侵犯，我们深表歉意，请来电告知，我们立即删除！</p>
        <div class=" font-center font-grey-light m-t-20">
            <p>客服咨询：400-888-7710</p>
            <p class="m-tb-10">Copyright © 2020 海南懂美姐科技有限公司</p>
            <a title="" href="" target="_blank" class="font-grey-light ">琼ICP备 2021000857号</a>
        </div>
    </footer>
    <!-- 底部导航 -->
    <div class="bottom-nav">
        <ul class="flex align-v-center font-center  ">
            <li class="flex-1  ">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-shouye font-grey"></i>
                    <div class="font-12 ">首页</div>
                </a>
            </li>
            <li class="flex-1 active">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-biji font-grey"></i>
                    <div class="font-12">笔记</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <img src="/static/home/img/consult.png" alt="">
                    <div class="font-12">咨询</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-dongmeihao font-grey"></i>
                    <div class="font-12">懂美号</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-yonghu font-grey"></i>
                    <div class="font-12">我的</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 公共固定按钮 -->
    <div class="fixbar">
        <!-- 公共咨询按钮 -->
        <div class="consult-global flex align-v-center align-h-center rela">
            <i class="iconfont icon-dianping font-24 font-white"></i>
        </div>
        <!-- 公共返回顶部按钮 -->
        <div class="back-top flex align-v-center align-h-center m-t-20" style="display: none;">
            <i class="iconfont icon-shangjiantou font-24 font-pink"></i>
        </div>
    </div>
    <!-- 全局js -->
    <!-- 用于存放全局变量 -->
    <script>
        const RUL = 1;
        const USER_INFO = {};
    </script>
    <script src="/static/home/js/layui/layui.js"></script>
    <script src="/static/home/js/layui.config.js"></script>
    <!-- 当前页面全局变量 -->
    <script>
        const PAGE = 1;
        const TOTAL = 22;
    </script>
    <!-- 当前页面js -->
    <script src="/static/home/js/note/topic.js"></script>
</body>

</html>