<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 移动端REM计算js -->
    <script src="/static/js/public/rem.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>移动端</title>
    <!-- 公共样式部分 -->
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/public.css">
    <!-- 当前页面部分 -->
    <link rel="stylesheet" href="/static/css/index/index.css">
    <!-- 轮播图插件 -->
    <link rel="stylesheet" href="/static/css/lib/swiper.min.css">
</head>

<body>
    <div class="font-blue font-center">移动端首页</div>
    <div class="font-14 m-t-10 font-grey">说明文件</div>
    <button type="button" class="button">一个标准的按钮</button>
    <button type="button" class="button medium">一个标准的按钮<i class="layui-icon layui-icon-left"></i></button>
    <button type="button" class="button mini">一个小按钮</button>
    
    <div class="layui-form">
        <input type="text" value="" placeholder="请输入">
        <input type="radio" lay-ignore >
        <input type="checkbox" lay-ignore >
        <div class="flex align-v-center">
            <select name="city" lay-verify="required">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
            <select name="city" lay-verify="required">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
            <select name="city" lay-verify="required">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
        </div>
        
    </div>
    <!-- 全局js -->
    <script src="/static/js/layui/layui.js"></script>
    <script src="/static/js/layui.config.js"></script>
    <!-- 当前页面js -->
    <script src="/static/js/index/index.js"></script>
</body>

</html>