<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 移动端REM计算js -->
    <script src="/static/home/js/public/rem.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>移动端</title>
    <!-- 公共样式部分 -->
    <link rel="stylesheet" href="/static/home/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/home/css/public/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/public/public.css">
    <link rel="stylesheet" href="/static/home/css/public/common.css">
    <!-- 当前页面部分 -->
    <link rel="stylesheet" href="/static/home/css/index/index.css">
    <!-- 插件样式 -->
    <link rel="stylesheet" href="/static/home/css/lib/swiper.min.css">
</head>

<body class="bg-blue-light">
    <header>
        <div class="stacked-linear rela card p-14 p-b-20">
            <!-- 搜索 -->
            <div class="home-search flex align-v-center p-lr-14 rela">
                <a href="" title="">
                    <img src="/static/home/img/logo.png" alt="" class="logo">
                </a>
                <i class="line m-l-14"></i>
                <input class="m-lr-14 " type="text" value="" placeholder="搜索笔记,搜问答,搜医生">
                <button type="button" class="button flex align-h-center align-v-center">
                    <i class="iconfont icon-sousuo font-white"></i>
                </button>
            </div>
            <!-- 轮播图 -->
            <div class="swiper m-t-20" id="home-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/home/img/baner01.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/home/img/baner02.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/home/img/baner03.png" alt="">
                    </div>
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- 金刚区 -->
            <ul class="flex rela diamond m-t-20">
                <li class="flex-1 font-center">
                    <a href="" title="">
                        <img src="/static/home/img/Scientificbeauty.png" alt="">
                        <div class="font-12">科学变美</div>
                    </a>
                </li>
                <li class="flex-1 font-center">
                    <a href="" title="">
                        <img src="/static/home/img/ask.png" alt="">
                        <div class="font-12">问诊</div>
                    </a>
                </li>
                <li class="flex-1 font-center">
                    <a href="" title="">
                        <img src="/static/home/img/doctor.png" alt="">
                        <div class="font-12">医生</div>
                    </a>
                </li>
                <li class="flex-1 font-center">
                    <a href="" title="">
                        <img src="/static/home/img/hospital.png" alt="">
                        <div class="font-12">机构</div>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="m-t-14">
        <!-- 公告 -->
        <div class="card p-lr-9 p-tb-10 ">
            <div class="flex align-v-center align-h-between font-14 notice">
                <div class="flex align-v-center">
                    <div class="font-bold font-pink">公共：</div>
                    <a href="" title="" class="title text-hidden-1">如何看待当代人的野性养生</a>
                </div>
                <a class="flex align-v-center" title="更多" href="">
                    <span class="font-grey">更多</span>
                    <i class="iconfont icon-youjiantou"></i>
                </a>
            </div>
        </div>
        <!-- 懂美号 -->
        <div class="card p-14 m-t-14">
            <div class="flex align-v-center align-h-between">
                <div class="font-bold font-18">懂美号</div>
                <a href="" title="" class="flex align-v-center">
                    <span class="font-12 font-grey">更多</span>
                    <i class="iconfont icon-youjiantou"></i>
                </a>
            </div>
            <div class="font-12 font-grey-light">专业内容创作者，更多干货分享。</div>
            <!-- 懂美号列表 -->
            <ul class="m-t-20">
                <li class="m-b-20">
                    <div class="flex happy">
                        <div class="flex-1">
                            <div class="font-14 text-hidden-2 m-b-10"> <a href=""
                                    title="">祭镇骄夸岘鼠蔗迫有蕾扼耶寮城祭镇骄夸岘鼠蔗迫有蕾扼耶寮城</a> </div>
                            <div class="flex align-v-center align-h-between">
                                <div>
                                    <!-- 显示用户头像 -->
                                    <a href="" title="" class="flex align-v-center">
                                        <img src="/static/home/img/user.png" class="avatar user-avatar" alt="">
                                        <div class="font-12 m-l-6 font-grey-light">孟梓宜</div>
                                    </a>
                                    <!-- 显示时间 -->
                                    <!-- <span class="font-grey-light font-12">2022</span> -->
                                </div>
                                <div class="flex align-v-center">
                                    <a href="" title="" class="font-blue font-12">#标签</a>,
                                    <a href="" title="" class="font-blue font-12">#标签</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-l-10 rela">
                            <a href="" title="">
                                <i class="horn abso"></i>
                                <img src="/static/home/img/meihao.png" alt="" class=" happy-img">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="m-b-20">
                    <div class="flex happy">
                        <div class="flex-1">
                            <div class="font-14 text-hidden-2 m-b-10"> <a href=""
                                    title="">祭镇骄夸岘鼠蔗迫有蕾扼耶寮城祭镇骄夸岘鼠蔗迫有蕾扼耶寮城</a> </div>
                            <div class="flex align-v-center align-h-between">
                                <div>
                                    <!-- 显示用户头像 -->
                                    <a href="" title="" class="flex align-v-center">
                                        <img src="/static/home/img/user.png" class="avatar user-avatar" alt="">
                                        <div class="font-12 m-l-6 font-grey-light">孟梓宜</div>
                                    </a>
                                    <!-- 显示时间 -->
                                    <!-- <span class="font-grey-light font-12">2022</span> -->
                                </div>
                                <div class="flex align-v-center">
                                    <a href="" title="" class="font-blue font-12">#标签</a>,
                                    <a href="" title="" class="font-blue font-12">#标签</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="m-l-10 rela">
                            <a href="" title="">
                                <i class="horn abso"></i>
                                <img src="/static/home/img/meihao.png" alt="" class=" happy-img">
                            </a>
                        </div> -->
                    </div>
                </li>
            </ul>
            <div class="font-16 font-center font-bold m-b-20">
                创作者排行榜
            </div>
            <div class="ranking flex align-v-bottom align-h-around">
                <div class="font-center rela">
                    <i class="icon abso icon-two"></i>
                    <img src="/static/home/img/avatar-max.png" alt="" class="avatar flat">
                    <div class="m-t-4 flex align-v-center align-h-center">
                        <span class="font-14 font-bold font-blue">2</span>
                        <span class="font-12">-史万平</span>
                    </div>
                </div>
                <div class="font-center rela">
                    <i class="icon abso"></i>
                    <img src="/static/home/img/avatar-max.png" alt="" class="avatar one">
                    <div class="m-t-4 flex align-v-center align-h-center">
                        <span class="font-14 font-bold font-yellow">1</span>
                        <span class="font-14">-史万平</span>
                    </div>
                </div>
                <div class="font-center rela">
                    <i class="icon abso icon-three"></i>
                    <img src="/static/home/img/avatar-max.png" alt="" class="avatar flat">
                    <div class="m-t-4 flex align-v-center align-h-center">
                        <span class="font-14 font-bold font-grey-light">3</span>
                        <span class="font-12">-史万平</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 笔记列表 -->
        <div class="card p-14 m-t-14">
            <div class="flex align-v-center align-h-between">
                <div class="font-bold font-18">美丽笔记</div>
                <a href="" title="" class="flex align-v-center">
                    <span class="font-12 font-grey">更多</span>
                    <i class="iconfont icon-youjiantou"></i>
                </a>
            </div>
            <div class="font-12 font-grey-light">美，是一种生活方式，一起来分享。</div>
            <!-- 选项卡 -->
            <div class="tab m-tb-20">
                <ul class="font-14   ">
                    <li class="active p-b-8 rela">
                        <a href="http://" title="" target="_blank">最新</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">热门</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">医生笔记</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">机构笔记</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">我得关注</a>
                    </li>
                </ul>
            </div>
            <ul class="flex flex-wrap m-t-20 note-list">
                <li class="m-b-13">
                    <div class="note-item">
                        <a href="" title="">
                            <img src="/static/home/img/biji.png" alt="" class="note-img m-b-10">
                            <div class="title text-hidden-2 font-14">如果颈纹加深，可不是寻常护肤品能挽救了1</div>
                        </a>
                        <div class="flex align-v-center align-h-between m-t-14">
                            <div>
                                <!-- 显示用户头像 -->
                                <a href="" title="" class="flex align-v-center">
                                    <img src="/static/home/img/user.png" class="avatar user-avatar" alt="">
                                    <div class="font-12 m-l-6 font-grey-light">孟梓宜</div>
                                </a>
                                <!-- 显示取消收藏按钮 -->
                                <!-- <button class="button mini bg-grey-light font-grey-light">取消收藏</button> -->
                                <!-- 显示时间 -->
                                <!-- <span class="font-grey-light font-12">2022</span> -->
                            </div>
                            <div class="flex align-v-center">
                                <i class="iconfont icon-aixin font-14 font-grey-light"></i>
                                <span class="m-l-2 font-12 font-grey-light">66</span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- 热议 -->
            <div class="font-16 font-center font-bold m-b-20 m-t-7">
                热议
            </div>
            <div class="heated rela">
                <ul class="flex p-r-20">
                    <li class="m-r-20">
                        <a href="" title="玻尿酸隆鼻好不好">
                            <div class="topic-item p-b-10">
                                <a href="" title="">
                                    <div class="flex align-v-center m-b-10 flex-1">
                                        <i class="iconfont icon-huati font-18 font-grey-light"></i>
                                        <div class="m-l-4 font-14 text-hidden-1 flex-1">玻尿酸隆鼻好不好</div>
                                    </div>
                                    <div class="flex align-h-between align-v-center">
                                        <div class="flex align-v-center">
                                            <div class="flex m-r-11">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                            </div>
                                            <div class="font-12 font-grey-light m-l-8">65k人参与讨论</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </a>
                    </li>
                    <li class="m-r-20">
                        <a href="" title="玻尿酸隆鼻好不好">
                            <div class="topic-item p-b-10">
                                <a href="" title="">
                                    <div class="flex align-v-center m-b-10 ">
                                        <i class="iconfont icon-huati font-18 font-grey-light"></i>
                                        <div class="m-l-4 font-14">玻尿酸隆鼻好不好</div>
                                    </div>
                                    <div class="flex align-h-between align-v-center">
                                        <div class="flex align-v-center">
                                            <div class="flex m-r-11">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                                <img src="/static/home/img/user.png" class="avatar user-avatar rela"
                                                    alt="">
                                            </div>
                                            <div class="font-12 font-grey-light m-l-8">65k人参与讨论</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- 医生答疑 -->
        <div class="card p-14 m-t-14">
            <div class="flex align-v-center align-h-between">
                <div class="font-bold font-18">医生答疑</div>
                <a href="" title="" class="flex align-v-center">
                    <span class="font-12 font-grey">更多</span>
                    <i class="iconfont icon-youjiantou"></i>
                </a>
            </div>
            <div class="font-12 font-grey-light">专业医生回答，安全有保障。</div>
            <div class="tab m-tb-20">
                <ul class="font-14   ">
                    <li class="active p-b-8 rela">
                        <a href="http://" title="" target="_blank">最新解答</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">热门问题</a>
                    </li>
                    <li class="p-b-8 rela">
                        <a href="http://" title="" target="_blank">好评回答</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li class="m-b-20">
                    <div class="ask-item bg-white p-t-10">
                        <div class="flex align-v-center border-bottom p-b-16">
                            <i class="icon m-r-10"></i>
                            <div class="font-16 text-hidden-1 flex-1"><a href="" title="">如果颈纹加深，可不是寻常护肤品能挽考虑速度...</a> </div>
                        </div>
                        <div class="p-b-16 border-bottom m-t-10">
                            <div class="flex ">
                                <i class="icon-answer icon m-r-10"></i>
                                <div class="flex-1">
                                    <div class="font-12 font-grey text-hidden-4 flex-1 content">
                                        你好，岳阳现属湘潭专区管辖。毛主席沉吟片刻，考虑的忆及往事谈了一些岳阳自古为府州郡治的历史情网民厉害
                                        况。当车在岳阳火车站停车时，毛主席了解当
                                    </div>
                                    <div class="flex align-v-center flex-wrap m-t-10">
                                        <a href="" title="" class="tag font-12 font-blue bg-blue-light m-r-10">#双眼皮 666 </a>
                                        <a href="" title="" class="tag font-12 font-blue bg-blue-light m-r-10">#双眼皮 666 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
        <!-- 医院列表 -->
        <div class="card p-14 m-t-14">
            <div class="flex align-v-center align-h-between">
                <div class="font-bold font-18">好评机构/医生</div>
                <a href="" title="" class="flex align-v-center">
                    <span class="font-12 font-grey">更多</span>
                    <i class="iconfont icon-youjiantou"></i>
                </a>
            </div>
            <div class="font-12 font-grey-light">网友真实点评，帮助你更好的决策。</div>
            <ul class="flex hospital-list flex-wrap m-t-20">
                <li>
                    <div class="hospital-item">
                        <a href="" title="">
                            <img src="/static/home/img/hospital-cover.png" alt="" class="note-img m-b-10">
                            <div class="title  font-15 m-b-10 text-hidden-1">如果颈纹加深，可不是寻常护肤品能挽救了1</div>
                            <div class="flex align-v-center m-b-10">
                                <div class="score">
                                    <div class="score-active"></div>
                                </div>
                                <div class="font-12 font-grey-light m-l-6">(10k)</div>
                            </div>
            
                            <div class="font-12 font-grey-light text-hidden-2">品牌的价值，是预售。如果通成预售成本，比在品类里</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 医生列表 -->
        <div class="card p-14 m-t-14">
            <ul>
                <li class="m-b-14">
                    <div class="doctor">
                        <a href="" title="" target="_blank" class="flex">
                            <div>
                                <img src="/static/home/img/avatar-max.png" alt="" class="avatar">
                            </div>
                            <div class="m-l-10 flex-1">
                                <div class="font-16 m-b-10">余小燕</div>
                                <div class="flex align-v-center m-b-10">
                                    <div class="score">
                                        <div class="score-active"></div>
                                    </div>
                                    <div class="font-12 font-grey-light m-l-6">(10k)</div>
                                </div>
                                <div class="font-12 font-grey-light text-hidden-2">
                                    品牌的价值，是预售。如果通成预售的成本，比在品类里...
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="m-b-14">
                    <div class="doctor">
                        <a href="" title="" target="_blank" class="flex">
                            <div>
                                <img src="/static/home/img/avatar-max.png" alt="" class="avatar">
                            </div>
                            <div class="m-l-10 flex-1">
                                <div class="font-16 m-b-10">余小燕</div>
                                <div class="flex align-v-center m-b-10">
                                    <div class="score">
                                        <div class="score-active"></div>
                                    </div>
                                    <div class="font-12 font-grey-light m-l-6">(10k)</div>
                                </div>
                                <div class="font-12 font-grey-light text-hidden-2">
                                    品牌的价值，是预售。如果通成预售的成本，比在品类里...
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="flex align-h-center">
                <a href="" title="">
                    <button type="button" class="button mini bg-pink-light font-pink">查看更多</button>
                </a>
            </div>
        </div>
    </main>
    <footer class="font-12 p-lr-14 p-t-30 p-b-71 font-grey-light">
        <p>郑重声明：懂美姐网版权所有，未经授权禁止转载、摘编、复制或建立镜像，如有违反，将追究其法律责任。</p>
        <p class="m-t-10">免责声明：本站为非营利性网站， 部分图片或文章来源于互联网，如果无意中对您的权益构成了侵犯，我们深表歉意，请来电告知，我们立即删除！</p>
        <div class=" font-center font-grey-light m-t-20">
            <p>客服咨询：400-888-7710</p>
            <p class="m-tb-10">Copyright © 2020 海南懂美姐科技有限公司</p>
            <a title="" href="" target="_blank" class="font-grey-light ">琼ICP备 2021000857号</a>
        </div>
    </footer>
    <!-- 底部导航 -->
    <div class="bottom-nav">
        <ul class="flex align-v-center font-center  ">
            <li class="flex-1 active ">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-shouye font-grey"></i>
                    <div class="font-12 ">首页</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="/view/note/index.html" title="" class="p-tb-10">
                    <i class="iconfont icon-biji font-grey"></i>
                    <div class="font-12">笔记</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <img src="/static/home/img/consult.png" alt="">
                    <div class="font-12">咨询</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-dongmeihao font-grey"></i>
                    <div class="font-12">懂美号</div>
                </a>
            </li>
            <li class="flex-1">
                <a href="" title="" class="p-tb-10">
                    <i class="iconfont icon-yonghu font-grey"></i>
                    <div class="font-12">我的</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 公共固定按钮 -->
    <div class="fixbar">
        <!-- 公共咨询按钮 -->
        <div class="consult-global flex align-v-center align-h-center rela">
            <i class="iconfont icon-dianping font-24 font-white"></i>
        </div>
        <!-- 公共返回顶部按钮 -->
        <div class="back-top flex align-v-center align-h-center m-t-20" style="display: none;">
            <i class="iconfont icon-shangjiantou font-24 font-pink"></i>
        </div>
    </div>
    <!-- 全局js -->
    <!-- 用于存放全局变量 -->
    <script>
        const RUL = 1;
        const USER_INFO = {};
    </script>
    <script src="/static/home/js/layui/layui.js"></script>
    <script src="/static/home/js/layui.config.js"></script>
    <!-- 当前页面全局变量 -->
    <script>
        
    </script>
    <!-- 当前页面js -->
    <script src="/static/home/js/index/index.js"></script>
</body>

</html>